@import "bootstrap/dist/css/bootstrap.min.css";

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPRODISPLAYMEDIUM.OTF");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFPRODISPLAYBOLD.OTF");
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
    --positions-width: 339px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0A0B1D;
    font-family: "SF Pro Display";
    color: #FFF;
    overflow: hidden;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea:focus-visible {
    outline: none !important;
}

button,
input,
optgroup,
select,
textarea:focus {
    outline: none !important;
}

.custom-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

@media(max-width:1540px) {
    .custom-container {
        padding: 0 20px;
    }
}

.Toastify {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    background-color: transparent;

    .Toastify__toast-container {
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        width: 400px;

        .Toastify__toast {
            padding: 0 20px;
            margin: 0;
            border: none;
            border-radius: 0;
            box-shadow: none;
            outline: none;
            background-color: transparent;
            margin-top: 70px;
            min-height: unset !important;
            max-height: unset !important;
            width: 100%;

            .toast-positionOpenedup {
                border-radius: 8px;
                border: 1px solid #2F2F3F;
                background: linear-gradient(8deg, rgba(214, 202, 255, 0.10) 5.8%, rgba(214, 202, 255, 0.00) 93.22%), #0A0B1D;
                display: flex;
                width: 100%;
                padding: 16px;
                justify-content: space-between;
                align-items: flex-start;

                .lefttoast {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 12px;

                    .upimg {
                        display: flex;
                        width: 26px;
                        height: 26px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100px;
                        background: rgba(34, 197, 94, 0.20);
                    }

                    .toasttexts {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 4px;

                        .positionhead {
                            color: #FFF;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 130%;
                            text-transform: capitalize;
                        }

                        .positionpara {
                            color: #5F5D72;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;

                            .white {
                                color: #FFF;
                            }
                        }
                    }
                }
            }

            .toast-positionOpeneddown {
                border-radius: 8px;
                border: 1px solid #2F2F3F;
                background: linear-gradient(8deg, rgba(214, 202, 255, 0.10) 5.8%, rgba(214, 202, 255, 0.00) 93.22%), #0A0B1D;
                display: flex;
                width: 100%;
                padding: 16px;
                justify-content: space-between;
                align-items: flex-start;

                .lefttoast {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 12px;

                    .downimg {
                        display: flex;
                        width: 26px;
                        height: 26px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 118.182px;
                        background: rgba(254, 57, 50, 0.10);
                    }

                    .toasttexts {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 4px;

                        .positionhead {
                            color: #FFF;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 130%;
                            text-transform: capitalize;
                        }

                        .positionpara {
                            color: #5F5D72;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;

                            .white {
                                color: #FFF;
                            }
                        }
                    }
                }
            }

            .toast-roundLost {
                border-radius: 8px;
                border: 1px solid #2F2F3F;
                background: linear-gradient(8deg, rgba(214, 202, 255, 0.10) 5.8%, rgba(214, 202, 255, 0.00) 93.22%), #0A0B1D;
                display: flex;
                width: 100%;
                padding: 16px;
                justify-content: space-between;
                align-items: flex-start;

                .lefttoast {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 12px;

                    .lostimg {
                        display: flex;
                        width: 26px;
                        height: 26px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 92.857px;
                        background: rgba(254, 57, 50, 0.18);

                        div {
                            width: 16px;
                            height: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            div {
                                width: 16px;
                                height: 16px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                svg {
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }
                    }

                    .toasttexts {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 4px;

                        .positionhead {
                            color: #FFF;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 130%;
                            text-transform: capitalize;
                        }

                        .positionpara {
                            color: #5F5D72;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;

                            .white {
                                color: #FFF;
                            }
                        }
                    }
                }
            }

            .toast-roundWon {
                border-radius: 8px;
                border: 1px solid #2F2F3F;
                background: linear-gradient(8deg, rgba(214, 202, 255, 0.10) 5.8%, rgba(214, 202, 255, 0.00) 93.22%), #0A0B1D;
                display: flex;
                width: 100%;
                padding: 16px;
                justify-content: space-between;
                align-items: flex-start;

                .lefttoast {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 12px;

                    .wonimg {
                        display: flex;
                        width: 26px;
                        height: 26px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 92.857px;
                        background: rgba(95, 195, 99, 0.18);

                        div {
                            width: 16px;
                            height: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            div {
                                width: 16px;
                                height: 16px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                svg {
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }
                    }

                    .toasttexts {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 4px;

                        .positionhead {
                            color: #FFF;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 130%;
                            text-transform: capitalize;
                        }

                        .positionpara {
                            color: #5F5D72;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;

                            .white {
                                color: #FFF;
                            }
                        }
                    }
                }
            }

            .Toastify__close-button {
                width: 24px;
                height: 24px;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                opacity: 1;
                align-items: center;
                position: absolute;
                top: 13px;
                right: 32px;
            }

            .Toastify__close-button>svg {
                fill: white;
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media(max-width:600px){
    .Toastify .Toastify__toast-container{
        width: 100%;
    }
}